.tags {
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tag,
.clearButton {
  background: var(--black1);
  border: var(--border-1);
  color: var(--white2);
  display: flex;
  align-items: center;
  padding: 0 .325rem;
}

.tag {
  border: 1px solid var(--black4);
  color: var(--white2);
  position: relative;
}

.activeTag {
  /* background: var(--invert-share); */
  /* background: var(--invert-gradient1); */
  background: var(--invert-share2);
  color: #fff;
  /* color: #000; */
}

.tag,
.clearButton,
.toggleButton {
  height: 1.5rem;
  font-size: .65rem;
  margin: .25rem .5rem .25rem 0;
  cursor: pointer;
  border-radius:var(--radius1);
}

.toggleButton {
  background: var(--linear-6);
  border: 1px solid var(--grey2);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: #efefef;
}

.toggleButton span {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 400;
}

.toggleButton span:first-child {
  padding-left: .325rem;
}

.toggleButton span:last-child {
  padding: 0 .25rem;
}

.toggleButton svg {
  height: .75rem;
  width: .75rem;
}

.activeToggle span:last-child svg {
  transform: rotate(180deg);
  transition: .2s ease-in-out;
}

.activeToggle {
  filter: brightness(1.1);
}

.hideToggle {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.clearButton {
  background: var(--primary-share);
  border: 1px solid var(--primary1);
  color: var(--black1);
  font-weight: 500;
  justify-content: center;
}

.toggleButton,
.clearButton {
  align-items: center;
  text-transform: lowercase;
}

.tag span:first-child {
  padding-right: .25rem;
}

.tag:hover,
.toggleButton:hover,
.clearButton:hover {
  opacity: .8;
  transition: .2s ease-in-out;
}

@media screen and (max-width: 740px) {
  .tags {
    padding: 1rem var(--pad-lr);
  }

  .tag,
  .toggleButton,
  .clearButton {
    font-size: .7rem;
  }
}