.relatedTags {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tagsWrapper {
  display: flex;
  font-size: max(15px, .8333333333vw);
  align-items: center;
  width: 100%;
}

.tags {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: max(14px, .88vw);
  width: 100%;
}

.tags::before {
  z-index: -1;
  pointer-events: none;
  user-select: none;
  content: attr(data-content);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  transform: scaleY(.85);
  color: var(--white3);
  font-weight: 400;
}

.tags a {
  margin: .25rem .25rem 0 0;
  padding: .325rem .325rem;
  border: 1px solid #181818;
  border-radius: var(--radius1);
  color: #fff;
  font-weight: 400;
  opacity: 1;
  background: #000;
}

.tags a:hover {
  opacity: .75;
  transition: opacity .2s ease-in-out;
}

@media screen and (max-width: 640px) {
  .tagsWrapper {
    padding: 0;
  }

  .tags {
    /* border-bottom: 1px solid var(--black3); */
    margin: 0 auto 0 auto;
    padding: .5rem var(--pad-lr) .5rem var(--pad-lr);
  }

  .tags::before {
    display: none;
  }
}