.overlayNoise {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
  user-select: none;
  background: var(--black1);
  opacity: .13;
}

/* .overlayNoise::after {
  position:absolute;
  content: "";
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  backdrop-filter: brightness(.8);
} */

.overlayNoise::before {
  content: "";
  position: absolute;
  filter: url(#grainy);
  top: 0;
  width: 100%;
  height: 100%;
}