.overlayNoise {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
  user-select: none;
  background: var(--black1);
  opacity: .12;
}

.overlayNoise::before {
  content: "";
  position: absolute;
  filter: url(#grainy);
  top: 0;
  width: 100%;
  height: 100%;
}