.backLinkWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: fit-content;
  margin: 3rem auto 1rem auto;
  position: relative;
  z-index: 6;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  background: transparent;
}

.backLinkWrapper a {
  width: fit-content;
  text-transform: uppercase;
  font-size: max(14px, .88vw);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem 1rem;
  letter-spacing: .02em;
  position: relative;
  color: var(--white2);
}

.backLinkWrapper:hover {
  border-bottom: 1px solid var(--white1);
  transition: border-bottom .2s ease-in-out;
}

.backLinkWrapper:hover a {
  color: var(--white1);
  transition: color .2s ease-in-out;
}

@media screen and (max-width: 740px) {
  .backLinkWrapper {
    align-items: center;
    font-size: max(14px, 1.6vw);
    position: absolute;
    top: 0;
    border-bottom: 1px solid var(--black2);
    height: 2.5rem;
    left: 0;
    width: 100%;
    /* justify-content: flex-start; */
    /* justify-content: center; */
    margin: 0;
  }

  .backLinkWrapper a {
    background: var(--offsetblack1);
    padding-left: .825rem;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
}