.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.title {
  font-family: var(--basement-expanded);
  width: auto;
  display: flex;
  padding: 2rem 80px .5rem 80px;
  line-height: 1.1;
  align-items: flex-end;
  font-size: max(22px, 3.8vw);
  position: relative;
  color: var(--white1);
  opacity: .9;
  /* -webkit-text-stroke: 1px var(--white1); */
  /* text-shadow: -1px 1px 0 var(--white1),
    1px 1px 0 var(--white1),
    1px -1px 0 var(--white1),
    -1px -1px 0 var(--white1); */
}

.title::before {
  content: '#';
}

.subtitle {
  padding: 0 0 1.5rem 0;
  font-size: max(18px, 1.6vw);
  /* font-size: max(18px, 1.8vw); */
  text-transform: uppercase;
  letter-spacing: -.02em;
  font-weight: 400;
  transform: scaleY(.9);
  text-align: start;
}

.headerBottom {
  width: 100%;
  margin-top: auto;
}

.content {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  min-height: var(--min-body-height);
  height: 100%;
}

@media screen and (max-width: 640px) {
  .header {
    align-items: flex-start;
  }

  .title {
    padding: 4rem var(--pad-lr) .5rem var(--pad-lr);
  }

  .subtitle {
    padding: 0 var(--pad-lr) 1rem var(--pad-lr);
  }
}