.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.topMeta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: .5rem 1rem;
  color: var(--white1);
  opacity: .85;
  font-weight: 400;
  transform: scaleY(.9);
  border-bottom: 1px solid var(--black3);
}

.topMeta {
  font-size: max(16px, .9vw);
  letter-spacing: -.02em;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 360px;
}

.title {
  min-height: 240px;
  height: 100%;
  width: 100%;
  font-size: max(22px, 3.8vw);
  padding: 0 80px;
  display: flex;
  align-items: center;
  line-height: 1.1;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  font-family: var(--basement-expanded);
  color: var(--primary-header);
}

.subtitle {
  padding: 0 0 1.5rem 0;
  font-size: max(18px, 1.6vw);
  text-transform: capitalize;
  letter-spacing: -.02em;
  font-weight: 400;
  transform: scaleY(.9);
  text-align: start;
}

.headerBottom {
  width: 100%;
  margin-top: auto;
}

.bottom {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 4;
}

.content {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  min-height: var(--min-body-height);
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .title {
    padding: 0 .5rem;
  }
}

@media screen and (max-width: 640px) {
  .header {
    flex-direction: column-reverse;
  }

  .topMeta {
    color: var(--white1);
    top: 2.5rem;
    padding: .75rem var(--pad-lr);
    font-size: max(15px, 1.6vw);
  }

  .top {
    flex-direction: column-reverse;
    min-height: 0;
  }

  .title {
    min-height: fit-content;
    padding: 3rem .5rem;
    font-size: max(22px, 4.5333333333vw);
  }

  .bottom {
    margin-top: 5rem;
    padding: 0;
  }

  /* .title {
    padding: 4rem var(--pad-lr) .5rem var(--pad-lr);
  }

  .subtitle {
    padding: 0 var(--pad-lr) 1rem var(--pad-lr);
  } */
}