.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.article {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* min-height: var(--min-body-height); */
}

/* .excerpt {
  font-family: var(--neue);
  font-weight: 500;
  text-transform: capitalize;
  padding: 3rem 0;
  text-align: center;
  display: block;
  font-size: 2.5vw;
  margin: 0 auto 5vw;
  max-width: 63.8541666667vw;
  line-height: 125%;
} */

.postBanner {
  width: 100%;
  max-height: 32vw;
  height: 32vw;
  min-height: 32vw;
  overflow: hidden;
  position: relative;
  filter: contrast(1.4);
}

.postBanner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url(#grainy);
  opacity: .2;
  z-index: 1;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 100%;
  font-size: max(18px, .9375vw);
  max-width: max(660px, 40.3645833333vw);
  line-height: 1.55;
}

.content h1,
.content h2 {
  font-family: var(--basement-expanded);
  text-transform: uppercase;
  font-weight: 900;
  font-size: max(32px, 1.875vw);
  line-height: 1.2;
  margin-top: max(58px, 5vw);
  margin-bottom: unset !important;
  padding-bottom: max(24px, 1.875vw)
}

.content h3,
.content h4,
.content h5 {
  font-family: var(--neue);
  font-size: 1.2em;
  line-height: 1.2;
  margin-top: max(32px, 2.2916666667vw);
  font-weight: 700
}

.content ol,
.content ul {
  position: relative;
  margin: max(24px, 1.4583333333vw) 0 !important
}

.content ol li,
.content ul li {
  padding-left: max(28px, 7.4666666667vw)
}

.content ol li:not(:first-child),
.content ul li:not(:first-child) {
  padding-top: 1.0416666667vw
}

.content ol li:before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  margin-top: .0520833333vw;
  font-size: max(18px, .9375vw);
  line-height: 155%;
  font-weight: 400;
  color: var(--primary1)
}

.content div {
  width: 100%;
  margin: max(24px,1.6666666667vw) 0;
  position:relative;
  max-width: 100%;
}

.content a {
  text-decoration: underline;
  color: var(--primary1);
}

.content p {
  line-height: 1.55;
  letter-spacing: .03em;
  margin-bottom: max(28px, 1.4583333333vw);
}

.content pre {
  overflow: auto;
}

@media screen and (max-width: 740px) {
  .content {
    font-size: max(16px, 4.2666666667vw);
    padding: 0 max(16px, 4.2666666667vw);
  }

  .content h1,
  .content h2 {
    font-size: max(16px, 4.2666666667vw);
    padding-bottom: max(16px, 4.2666666667vw);
    margin: max(42px, 11.2vw) 0 max(24px, 6.4vw);
    /* margin-top:max(24px,6.4vw); */
  }

  .content h3,
  .content h4,
  .content h5 {
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: max(32px, 2.2916666667vw);
    font-weight: 700
  }

  .content ol,
  .content ul {
    margin: max(24px, 6.4vw) 0 !important
  }

  .content ol li,
  .content ul li {
    padding-left: 1.9791666667vw
  }

  .content ol li:not(:first-child),
  .content ul li:not(:first-child) {
    padding-top: max(16px, 4.2666666667vw)
  }

  .content ol li {
    counter-increment: item;
    list-style: none;
  }

  .content ul li:before {
    margin-top: max(8px, 2.1333333333vw);
    width: max(8px, 2.1333333333vw);
    height: max(8px, 2.1333333333vw)
  }

}