.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.article {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 100%;
  font-size: max(18px, .9375vw);
  max-width: max(660px, 40.3645833333vw);
  line-height: 1.55;
}

.content > * {
  width: 100%;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  scroll-margin-top: var(--scroll-margin-top) !important;
  text-align: left !important;
  width: 100% !important;
  text-decoration: none !important;
  color: var(--white1) !important;
}

.content h1,
.content h2 {
  margin-top: max(58px, 5vw) !important;
  ;
  margin-bottom: unset;
  padding-bottom: max(24px, 1.875vw) !important;
  line-height: 1.2;
}

.content h1 a,
.content h2 a {
  font-family: var(--basement-expanded);
  text-transform: uppercase;
  font-weight: 900;
  font-size: max(32px, 1.875vw);
  line-height: 1.2;
  color: var(--white1) !important;
}

.content h3 a,
.content h4 a,
.content h5 a {
  font-family: var(--neue);
  font-size: 1.2em;
  line-height: 1.2;
  margin-top: max(32px, 2.2916666667vw);
  padding-bottom: max(20px, 1.5vw);
  font-weight: 700;
  color: var(--white1) !important;
}

.content h3,
.content h4,
.content h5 {
  margin-top: max(32px, 2.2916666667vw);
  padding-bottom: max(20px, 1.5vw);
  line-height: 1.2;
}

.content ol,
.content ul {
  margin: max(24px, 1.4583333333vw) 0 !important
}

.content ol {
  list-style-type: number;
}

.content ul {
  list-style-type: disc;
}

.content ol li,
.content ul li {
  padding-left: .5rem;
}

.content ol li:not(:first-child),
.content ul li:not(:first-child) {
  padding-top: .75vw
}

.content div {
  width: 100%;
  margin: max(24px, 1.6666666667vw) 0;
  position: relative;
  max-width: 100%;
}

.content p a {
  text-decoration: underline;
  color: var(--primarylink1) !important;
}

.content li a {
  text-decoration: none !important;
  color: var(--white3) !important;
}

.content p a:hover {
  opacity: .8;
}

.content p {
  line-height: 1.55;
  letter-spacing: .03em;
  margin-bottom: max(28px, 1.4583333333vw);
}

.content p code {
  background: var(--accents-3);
  letter-spacing: 0 !important;
  border-radius: var(--radius1);
  border: 1px solid var(--grey2);
  font-family: var(--font-mono) !important;
  font-size: 80%;
  padding: .25rem;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  text-indent: 0;
  margin: max(24px, 1.6666666667vw) auto max(24px, 1.6666666667vw) 0;
  overflow-x: auto;
  display: block;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  max-width: -moz-fit-content;
  max-width: fit-content;
  white-space: nowrap;
  border: 1px solid var(--accents-3);
  border-radius: var(--radius1);
}

.content table::-webkit-scrollbar {
  height: 6px;
}

.content table::-webkit-scrollbar-track {
  background: var(--codeblock-bg);
}

.content table::-webkit-scrollbar-thumb {
  background: var(--primarylink2);
  border-radius: 10px;
}

.content thead {
  display: table-header-group;
  vertical-align: middle;
  background: var(--accents-5);
}

.content tr {
  border-top-width: 1px;
  margin: 0;
  display: table-row;
}

.content th {
  font-weight: 500;
  text-align: left;
  padding: .625rem 1rem;
  border-width: 1px;
  font-size: max(16px, 1vw);
  text-transform: uppercase;
  transform: var(--scale-font-Y);
}

.content tbody {
  display: table-row-group;
  vertical-align: middle;
  width: 100%;
  overflow: auto;
}

.content tr td {
  font-size: max(15px, 1vw);
  white-space: nowrap;
  color: var(--white3);
  border-top: 1px solid var(--black2);
  border-right: 1px solid var(--black2);
  padding: .5rem 1rem;
}

@media screen and (max-width: 740px) {
  .content {
    font-size: max(16px, 4.2666666667vw);
    padding: 0 max(16px, 4.2666666667vw);
  }

  .content h1 a,
  .content h2 a {
    font-size: max(16px, 4.2666666667vw) !important;
    padding-bottom: max(16px, 4.2666666667vw) !important;
    margin: max(42px, 11.2vw) 0 max(24px, 6.4vw) 0 !important;
    line-height: 1 !important;
  }

  .content h3 a,
  .content h4 a,
  .content h5 a {
    font-size: 1.2em !important;
    line-height: 1.2 !important;
    margin-top: max(32px, 2.2916666667vw) !important;
    font-weight: 700 !important;
  }

  .content h1,
  .content h2 {
    line-height: 1 !important;
  }

  .content ol,
  .content ul {
    margin: max(24px, 6.4vw) 0
  }

  .content ol li:not(:first-child),
  .content ul li:not(:first-child) {
    padding-top: max(16px, 4.2666666667vw)
  }

  .content ol li {
    counter-increment: item;
    list-style: none;
  }

  .content ul li:before {
    margin-top: max(8px, 2.1333333333vw);
    width: max(8px, 2.1333333333vw);
    height: max(8px, 2.1333333333vw)
  }
}