.subheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid var(--white1);
}

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.gobackwrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 3;
  height: 4rem;
}

.goback {
  width: fit-content;
  text-transform: uppercase;
  font-size: max(13px, .8333333333vw);
  font-weight: 400;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem 1rem;
  letter-spacing: .02em;
  color: var(--white2);
  position: relative;
}

.goback::after {
  position: absolute;
  content: "";
  top: 100%;
  height: 1px;
  background: var(--white2);
  width: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: opacity .3s ease-out, width .3s ease-out;
}
.goback:hover::after {
  width: 100%;
  opacity: .7;
}

.title {
  height: 100%;
  width: 100%;
  font-size: max(22px, 4.1666666667vw);
  padding: 1rem 80px 2rem 80px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--basement-expanded);
  color: var(--primary-header);
}

.topMeta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 1rem;
  color: var(--white1);
}

.topMeta,
.bottom a {
  font-size: max(14px, .8333333333vw);
  letter-spacing: -.02em;
}

.bottom {
  height: min-content;
  padding: 1rem .5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 2;
}

.bottom a {
  color: var(--white2);
  margin-right: .25rem;
  margin-top: .25rem;
  height: 1.25rem;
  line-height: 1.25rem;
}

.bottom a .tag:hover {
  opacity: .8;
  background: var(--black2);
  transition: .2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .title {
    padding: 1rem .5rem 1.5rem .5rem;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 640px) {
  .subheader {
    flex-direction: column-reverse;
  }

  .topMeta {
    font-size: max(15px, 1.6vw);
  }
  
  .bottom a {
    font-size: max(14px, 1.6vw);
    height: 1rem;
    line-height: 1rem;
  }

  .topMeta {
    color: var(--white1);
    top: 3rem;
  }

  .top {
    flex-direction: column-reverse;
  }

  .title {
    font-family: var(--neue);
    font-size: max(32px, 8.5333333333vw);
    font-weight: 500;
    letter-spacing: -.01em;
    line-height: 114%;
    text-align: start;
    padding: 2rem var(--pad-lr);
    color: var(--white1);
  }

  .bottom {
    margin-top: 3rem;
    padding: 3rem var(--pad-lr) 1rem var(--pad-lr);
  }

  .topMeta {
    padding: var(--pad-lr);
  }

  .gobackwrapper {
    align-items: center;
    font-size: max(14px, 1.6vw);
    position:absolute;
    top:0;
    border-bottom: var(--border-3);
    height: 2.5rem;
    left:0;
    width:100%;
    justify-content: flex-start;
  }
  
  .goback {
    background: var(--offsetblack1);
    width: 100%;
    justify-content: flex-start;
  }
}