.footer {
  height: 5rem;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.links {
  border-top: var(--border-1);
  width: 100%;
  display:flex;
  height: 100%;
  align-items: center;
}

.links a,
.links a:visited {
  color: var(--white3);
  text-decoration: none;
  letter-spacing: -.02em;
  line-height: 1.2;
  position: relative;
  /* margin-left: .25rem; */
  font-size: max(18px, 1.4vw);
}

.links a:not(:first-child)::before {
  content: '—';
  padding: 0 .25rem;
}

.footer a:hover {
  color: var(--primary3);
}

.footer a:hover::before {
  color: var(--white1);
}

@media screen and (max-width: 640px) {
  .footer {
    justify-content: center;
    padding: 0 .25rem;
  }

  .links {
    justify-content: center;
  }
  
  .links a {
    font-size: max(16px, 1.2vw);
  }

  .links a:not(:first-child)::before {
    content: '-';
    padding: 0 .25rem;
  }
  /* .footer {
    padding: 0 0 1rem 0;
    align-items: center;
  }

  .links,
  .linkBottom {
    width: 100%;
    text-align: center;
  }

  .linkBottom {
    padding: 0 .25rem;
  } */
}