.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.linkWrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding: 0;
  outline: none;
}

.postCard {
  display: grid;
  grid-template-columns: 60vw 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  border-bottom: var(--border-1);
  position: relative;
  overflow: hidden;
}

.featuredPostCard {
  height: 28vw;
  max-height: 28vw;
  overflow: hidden;
}

.postCard:not(.featuredPostCard) {
  max-height: 520px;
  padding: .5rem 0;
}

.col1,
.col2 {
  width: 100%;
  height: 100%;
}

.featuredPostCard .col2 {
  padding-top: 1rem;
}

.featuredPostCard:first-child .col1 {
  padding-right: 1rem;
}

.linkWrapper:first-child .postCard {
  border-top: var(--border-1);
}

.featuredImage {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.featuredImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 4;
  filter: url(#grainy);
  opacity: .1;
  background: var(--offsetblack4);
}

.grad {
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.subCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.subCol h2 {
  font-size: max(20px, 1.6vw);
  color: var(--white1);
  font-weight: 500;
  font-family: var(--Neue);
  line-height: 1.1;
  letter-spacing: -.01em;
  max-width: 835.75px;
}

.subExcerpt {
  padding-top: .5rem;
  font-size: .8rem;
  color: var(--white3);
  letter-spacing: .03em;
  max-width: 39.5833333333vw;
}

.subColTags {
  display: flex;
  font-size: .75rem;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  color: var(--white3);
}

.tag {
  margin-right: .5rem;
  margin-top: .25rem;
}

.featuredInfo,
.lowerInfo {
  width: 100%;
  height: 100%;
}

.lowerInfo {
  display: flex;
  padding: 1rem 0 0 0;
}

.lowerInfoLeft,
.lowerInfoRight {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lowerInfoRight {
  align-items: flex-end;
  text-align: right;
  padding-right: 1rem;
}

.lowerInfoCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem 0;
}

.lowerInfoCol span:first-child {
  color: var(--white2);
  letter-spacing: -.01em;
  font-weight: 400;
  font-size: max(12px,.7291666667vw);
  font-family: var(--font-mono);
  line-height: 125%;
}

.lowerInfoCol span:last-child {
  color: var(--white1);
  font-size: max(14px, .9375vw);
  line-height: 126%;
  letter-spacing: -.03em;
  text-transform: uppercase;
}

.lowerInfoRight .lowerInfoCol:last-child span:last-child {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.03em;
  opacity: 0;
  color: var(--primary1);
}

.featuredRightWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.featuredRightTop {
  width: 100%;
  height: auto;
}

.featuredRightBottom {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  padding-bottom: 1rem;
}

.featuredRightBottomTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.featuredRightBottom h2 {
  font-size: max(24px, 3vw);
  font-weight: 500;
  line-height: 114%;
  letter-spacing: -.01em;
  color: var(--white1);
  opacity: .9;
}

.featuredRightBottom p {
  font-size: max(16px, 1.4583333333vw);
  padding-top: .5rem;
  color: var(--white2);
  line-height: 125%;
  letter-spacing: -.01em;
}

.featuredRightBottom h2,
.featuredRightBottom p {
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.featuredInfo {
  justify-content: flex-start;
  display: flex;
}

.featuredInfoCol {
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
  padding-bottom: .25rem;
  width: 100%;
  color: var(--white2);
  text-transform: capitalize;
}

.featuredInfoCol:last-child {
  width: fit-content;
}

.featuredInfoCol:first-child {
  width: fit-content;
  padding-right: 2rem;
}

.featuredInfoCol span:first-child {
  color: var(--white2);
  font-size: max(12px,.7291666667vw);
  font-family: var(--font-mono);
  line-height: 125%;
}

.featuredInfoCol span:not(:first-child) {
  color: var(--white3);
  font-size: max(14px, .9375vw);
  line-height: 126%;
  letter-spacing: -.01em;
  width: fit-content;
  text-transform: uppercase;
  white-space: nowrap;
}

.featuredTags {
  /* display: flex; */
  flex-wrap: wrap;
  width: 100%;
  pointer-events: none;
  user-select: none;
  font-size: max(14px, 1.05vw);
  align-items: center;
  display: none;
}

.tag {
  text-transform: lowercase;
  letter-spacing: -.02em;
  transform: scaleY(.9);
  color: var(--white2);
  opacity: .8;
}

.postCard:hover {
  filter: brightness(1.2);
  transition: filter .2s ease-in-out;
}

.postCard:hover h2 {
  color: var(--primary-header);
  transition: color .2s ease-in-out;
}

.noPosts {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.noPosts h3 {
  color: var(--white1);
  font-weight: 500;
  font-size: 1.25rem;
}

@media screen and (max-width: 1024px) {
  .subCol h2 {
    max-width: 39.5833333333vw;
  }
}

@media screen and (max-width: 840px) {
  .featuredPostCard {
    height: max(320px, 50vw);
    max-height: max(320px, 50vw);
  }

  .featuredRightTop {
    padding-top: .5rem;
  }

  .featuredImage {
    height: 100%;
    max-height: 100%;
    width: 100vw;
  }

  .featuredImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .featuredImage::after {
    background: var(--linear-offset1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: grayscale(1) brightness(.7);
    height: 100%;
    content: "";
  }

  .subExcerpt {
    font-size: max(15px, 1.6vw);
  }

  .featuredInfoCol span:not(:first-child) {
    font-size: max(15px, 1.6vw);
  }

  .featuredRightBottom h2 {
    font-size: max(26px, 3.2vw);
  }

  .featuredRightBottom p {
    font-size: max(15px, 2.2vw);
  }

  .featuredPostCard:first-child .col1 {
    padding-right: 0;
  }

  .featuredInfoCol:nth-child(n+3) {
    text-align: start;
    width: 100%;
  }

  .featuredRightWrapper {
    padding-left: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .lowerInfoRight {
    display: none;
  }

  .lowerInfo {
    padding-top: 0;
  }

  .postCard:not(.featuredPostCard) {
    grid-template-columns: 75% 1fr;
    max-height: 800px;
    height: 100%;
    padding: 1rem 0;
  }

  .subExcerpt {
    max-width: 70vw;
  }

  .subCol h2 {
    max-width: 70vw;
  }

  .lowerInfoLeft {
    padding-right: 1rem;
    text-align: end;
    justify-content: space-between;
  }

  .featuredTags {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .subCol {
    padding: 0 var(--pad-lr);
  }

  .lowerInfoCol {
    padding: 0;
  }

  .featuredRightWrapper {
    padding-left: var(--pad-lr);
    padding-right: var(--pad-lr);
  }

  .lowerInfoLeft {
    padding-right: var(--pad-lr);
  }
}

@media screen and (max-width: 480px) {
  .subCol h2 {
    font-size: max(18px, 1.6vw);
  }
}