.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.linkWrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding: 0;
  outline: none;
}

.featuredPostCard {
  height: 22rem;
}

.postCard {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  width: 100%;
  border-bottom: var(--border-1);
  position: relative;
  max-height: 520px;
}

.postCard:not(.featuredPostCard) {
  padding: 1rem 0;
}

.col1,
.col2 {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.featuredPostCard:first-child .col1 {
  padding-right: 1rem;
}

.linkWrapper:first-child .postCard {
  border-top: var(--border-1);
}

.featuredImage {
  height: 100%;
  position: relative;
  overflow:hidden;
}

.featuredImage img {
  filter: contrast(1.2);
}

.featuredImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 4;
  filter: url(#grainy);
  opacity: .15;
  background: var(--offsetblack1);
}

.grad {
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.subCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.subCol h2 {
  font-size: max(20px, 1.6vw);
  color: var(--white1);
  font-weight: 500;
  font-family: var(--Neue);
  line-height: 1.1;
  letter-spacing: -.01em;
  max-width: 835.75px;
}

.subExcerpt {
  padding-top: .5rem;
  font-size: .8rem;
  color: var(--white2);
  letter-spacing: .03em;
  max-width: 39.5833333333vw;
}

.subColTags {
  display: flex;
  font-size: .75rem;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  color: var(--white3);
}

.tag {
  padding: 0 .125rem;
}

.featuredInfo,
.lowerInfo {
  width: 100%;
  height: 100%;
}

.lowerInfo {
  display: flex;
  padding: 1rem 0 0 0;
}

.lowerInfoLeft,
.lowerInfoRight {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lowerInfoRight {
  align-items: flex-end;
  text-align: right;
  padding-right: 1rem;
}

.lowerInfoCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem 0;
}

.lowerInfoCol span:first-child {
  color: var(--white2);
  font-size: max(11px, .7291666667vw);
  line-height: 125%;
  letter-spacing: -.01em;
}

.lowerInfoCol span:last-child {
  color: var(--white1);
  font-size: max(13px, .9375vw);
  line-height: 126%;
  font-weight: 500;
  letter-spacing: -.03em;
  text-transform: uppercase;

}

.lowerInfoRight .lowerInfoCol:last-child span:last-child {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.03em;
  opacity: 0;
  color: var(--primary1);
}

.featuredRightWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
}

.featuredRightTop {
  width: 100%;
}

.featuredRightBottom {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.featuredRightBottom h2 {
  font-size: max(28px, 1.6vw);
  font-weight: 500;
  line-height: 114%;
  letter-spacing: -.01em;
  color: var(--white1);
  font-family: var(--Neue);
  padding-bottom: .25rem;
}

.featuredRightBottom p {
  font-size: max(14px, 1.4583333333vw);
  color: var(--white2);
  letter-spacing: -.01em;
}

.featuredInfo {
  justify-content: flex-start;
  display: flex;
}

.featuredInfoCol {
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
  padding-bottom: .25rem;
  width: 100%;
  color: var(--white1);
  text-transform: capitalize;
}

.featuredInfoCol:last-child {
  width: fit-content;
}

.featuredInfoCol:first-child {
  width: fit-content;
  padding-right: 2rem;
}

.featuredInfoCol span:first-child {
  color: var(--white2);
  font-size: max(11px, .7291666667vw);
  line-height: 125%;
  letter-spacing: -.01em;
  font-weight: 500;
}

.featuredInfoCol span:not(:first-child) {
  color: var(--white1);
  font-size: max(12px, .9375vw);
  line-height: 126%;
  font-weight: 500;
  letter-spacing: -.03em;
  width: fit-content;
  text-transform: uppercase;
  white-space: nowrap;
}

.featuredTags {
  color: var(--white2);
  padding-top: 1rem;
  font-size: .75rem;
}

.postCard:hover {
  opacity: .9;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

.postCard:hover .lowerInfoRight .lowerInfoCol:last-child span:last-child {
  opacity: 1;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

.tag:hover {
  opacity: .8;
  transition: .2s ease-in-out;
}

.noPosts {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.noPosts h3 {
  color: var(--white1);
  font-weight: 500;
  font-size: 1.25rem;
}

@media screen and (max-width: 1240px) {
  .featuredPostCard {
    height: 21rem;
  }
}

@media screen and (max-width: 1024px) {
  .subCol h2 {
    max-width: 39.5833333333vw;
  }
}

@media screen and (max-width: 840px) {
  .featuredPostCard:first-child .col1 {
    padding-right: 0;
  }

  .featuredInfoCol:nth-child(n+3) {
    text-align: start;
    width: 100%;
  }

  .featuredImage {
    width: 100vw;
  }

  .featuredImage::after {
    background: var(--offsetblack1);
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }

  .featuredRightWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    background: var(--offsetblack1);
  }

  .lowerInfoRight {
    display: none;
  }

  .postCard {
    grid-template-columns: 75% 1fr;
  }

  .subExcerpt {
    max-width: 70vw;
  }

  .subCol h2 {
    max-width: 70vw;
  }

  .lowerInfoLeft {
    padding-right: 1rem;
    text-align: end;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .subCol h2 {
    font-size: max(16px, 1.6vw);
  }

  .lowerInfoCol span:last-child {
    font-size: .825rem;
  }
}