div[data-rehype-pretty-code-fragment] {
  background: var(--codeblock-bg) !important;
  border: 1px solid var(--grey2);
  border-radius: var(--radius1);
  padding: max(24px, 1.6666666667vw);
  position:relative;
  margin: 0 0 max(28px,1.4583333333vw) 0 !important;
  overflow-x: auto;
}

div[data-rehype-pretty-code-fragment]::-webkit-scrollbar {
  height: 8px;
}

div[data-rehype-pretty-code-fragment]::-webkit-scrollbar-track {
  background: var(--codeblock-bg);
}

div[data-rehype-pretty-code-fragment]::-webkit-scrollbar-thumb {
  background: var(--primarylink1);
  border-radius: 10px;
}

div[data-rehype-pretty-code-fragment] pre {
  background: transparent !important;
}

[data-rehype-pretty-code-fragment] code {
  display: grid;
  padding: 0;
  border-radius: 0;
  border-width: 0;
  min-width: 100%;
  font-size: max(14px, .7291666667vw);
  overflow-wrap: break-word;
  background-color: transparent;
  counter-reset: line;
  line-height: 1.55;
  font-family: var(--font-mono) !important;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] span {
  font-family: var(--font-mono) !important;
}

[data-rehype-pretty-code-fragment] .line {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: var(--white3);
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  background: var(--black2);
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  position: relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  background: var(--black2);
  border-radius: var(--radius1);
  opacity: .8;
  padding: .25rem;
}

[data-rehype-pretty-code-title] {
  font-size: max(16px, 1vw);
  height: fit-content;
  line-height: 1.25rem;
  position: relative;
  margin: 0 0 1rem 0 !important;
  top:0;
  left:0;
  color: var(--primarylink1);
  width: fit-content !important;
  font-weight: 500;
}

[data-rehype-pretty-code-title]:before {
  content: '> ';
}

[data-rehype-pretty-code-title] + pre {
  margin-top: 0;
}

.subheading-anchor {
  pointer-events: none !important;
  user-select: none !important;
}

.banner {
  max-width: 100vw !important;
  width: 100vw !important;
  height: max(320px, 32vw) !important;
  position: relative !important;
  margin-bottom: 4rem !important;
}

.banner img {
  object-fit: cover !important;
  width: 100vw !important;
  height: max(320px, 32vw) !important;
  position: relative !important;
}

.excerpt {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 !important;
}

.excerpt p {
  padding: 0 !important;
  text-align: center;
  display: block;
  font-size: 2.5vw;
  margin: 0 auto 5vw auto !important;
  text-wrap: balance;
  width: 100%;
  line-height: 125% !important;
}

@media screen and (max-width: 740px) {
  [data-rehype-pretty-code-fragment] code {
    font-size: max(14px, 3.7333333333vw);
  }

  div[data-rehype-pretty-code-fragment] {
    padding: max(12px, 3.2vw) max(16px, 4.2666666667vw);
  }

  .excerpt {
    margin: unset;
    margin-top: max(24px, 6.4vw);
    max-width: unset;
  }

  .excerpt p {
    font-size: max(20px,5.3333333333vw) !important;
    max-width: unset !important;
    text-align: start !important;
  }
}