/* 
By default, the colors in :root represent the dark theme.


*/

:root {
  --font-mono: "JetBrains Mono", "Menlo", "Monaco", monospace;
  --transition-left: left .2s ease-in-out;
  --transition-width: width .2s ease-in-out;
  --transition-prop-formui: border-color, background, color, transform, box-shadow;
  --radius1: 5px;
  --scale-font-Y: scaleY(.9);
  --banner-height: 22.7604166667vw;

  /* pad-left-right (min-width:740px) */
  --pad-lr: max(16px, 4.2666666667vw);

  --z-header: 999;
  --header-height: max(72px, 4.1666666667vw);
  --scroll-margin-top: max(96px, 5vw);
  --footer-height: 6rem;
  --min-body-height: calc(100vh - var(--header-height));

  /* --primary-share: #D93036; */
  --primary-share: #fb510b;
  --invert-share: #21b3ae;
  --invert-share2: #026752;

  /* active tags */
  --invert-gradient1: linear-gradient(90deg, #028166, #026752 50%, #014d3d);
  /* --invert-gradient1: linear-gradient(90deg,#0761d1,#0070f3 50%,#3291ff); */

  /* *********** */
  /* DARK THEME */
  --codeblock-bg: #050505;

  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #111;
  --accents-4: #222;
  --accents-5: #050505;

  --black1: #000000;
  --black2: #181a1b;
  --black3: #131313;
  --black4: #333;

  --white1: #efefef;
  --white2: #a0a0a0;
  --white3: #c8c6c6;

  --grey1: #a6a6a6;
  --grey2: #474747;

  --primary-header: #fb510b;

  --primary1: #fb510b;
  --primary2: #c8430a;
  --primary3: #c8430a;
  --primaryinvert1: rgba(255, 255, 255, .2);
  --primarydark1: rgba(202, 4, 30, .4);
  --primarylink1: #fb510b;
  --primarylink2: #c8430a;

  --link: #1ba5d6;
  --selection: #f81ce5;

  --border-1: 1px solid var(--grey2);

  --offsetwhite1: rgba(255, 255, 255, .4);
  --offsetblack1: rgba(0, 0, 0, .5);
  --offsetblack3: hsla(0, 0%, 9%, .1);
  --offsetblack4: rgba(0, 0, 0, 0.1);
  --linear-6: linear-gradient(0deg, hsla(0, 0%, 100%, .05), hsla(0, 0%, 100%, .05)), radial-gradient(50% 50% at 50% 100%, hsla(0, 0%, 100%, .1) 0, hsla(0, 0%, 100%, 0) 100%);
  --linear-offset1: linear-gradient(210deg, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, .8) 60%, rgba(0, 0, 0, .95) 100%);
}

[data-theme='light'] {
  /* --codeblock-bg: #fafafa; */

  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #fafafa;
  --accents-4: #eaeaea;
  --accents-5: #fafafa;

  --black1: #ffffff;
  --black2: #a8a8a8;
  --black3: #efefef;

  --white1: #000000;
  --white2: #181a1b;
  --white3: #000000;

  --grey1: #474747;
  --grey2: #646464;

  --primary-header: #000000;
  --primary1: #fb510b;
  --primary2: #c8430a;
  --primary3: #c8430a;
  --primarydark1: rgba(202, 4, 30, .9);
  --primaryinvert1: rgba(71, 71, 71, .6);
  --primarylink1: #008afb;
  --primarylink2: #057bdc;

  --link: #1684ad;
  --selection: #7fffe1;

  --border-1: 1px solid var(--grey2);

  --offsetwhite1: rgba(0, 0, 0, .4);
  --offsetblack1: hsla(0, 0%, 100%, .7);
  --offsetblack3: hsla(0, 0%, 100%, .2);
  --offsetblack4: rgba(0, 0, 0, 0);
  --linear-6: rgba(0, 0, 0, .8);
  --linear-offset1: rgba(255, 255, 255, 1);
}

body {
  color: var(--white1);
  background: var(--black1);
  font-family: var(--neue);
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  padding-top: var(--header-height);
  line-height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  text-rendering: geometricprecision;
  width: 100%;
}