:root {
  /* --Neue: "Neue Montreal", -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --CentrionRegular: "Centrion-Regular", Georgia; */
  --transition-left: left .2s ease-in-out;
  --transition-width: width .2s ease-in-out;
  --transition-prop-formui: border-color, background, color, transform, box-shadow;

  --radius1: 6px;

  --xl: 1024px;
  --lg: 640px;
  --md: 490px;
  --sm: 380px;

  --z-header: 100;
  --z-modal: 800;
  --z-toast: 900;

  --header-height: 64px;
  --footer-height: 6rem;

  --min-body-height: calc(100vh - 5rem);

  --black0: rgba(17, 19, 20, 0.5);
  --black1: #000000;
  --black2: #181a1b;
  --black3: #131313;
  --black4: #333;

  --white0: #f5f3f3;
  --white1: #efefef;
  --white2: #a8a8a8;
  --white3: #d4d2d2;

  --grey1: #a6a6a6;
  --grey2: #474747;

  --primary1: #0761d1;
  --primary2: #0070f3;
  --primary3: #3291ff;
  --red1: #cf007a;
  --red2: #c0103e;
  --red3: #a60731;

  --primaryinvert1: #600c1f;

  --link: #1ba5d6;

  --primarydark1: #062530;

  --selection: #f81ce5;

  --border-1: 1px solid var(--grey2);
  --border-2: 1px solid var(--white2);
  --border-3: 1px solid #444;

  --offsetblack0: rgba(0,0,0,.8);
  --offsetblack1: rgba(0,0,0,.6);
  --offsetblack2: hsla(0,0%,9%,.6);
  --offsetblack3: hsla(0,0%,9%,.1);
  --offsetwhite0: hsla(0,0%,100%,0);
  --offsetwhite1: hsla(0,0%,100%,.05);
  --offsetwhite2: hsla(0,0%,100%,.1);

  --radial-1: radial-gradient(circle farthest-corner at 50.4% 50.5%, var(--primary1) 0%, var(--primary2) 90%);

  --linear-1: linear-gradient(to top, var(--black3) 0, transparent 100%),
    linear-gradient(180deg, var(--black1) 0, var(--black2) 40%);
  --linear-2: linear-gradient(to bottom, var(--black1) 0, transparent 100%),
    linear-gradient(180deg, var(--black1) 0, var(--black0) 20%);
  --linear-3: linear-gradient(to right bottom, #333, #111);
  --linear-4: linear-gradient(to right bottom, var(--primaryinvert1), #111);
  --linear-5: linear-gradient(240deg, var(--primary1) 0, var(--primary2) 50%, var(--primary3));
  --linear-6: linear-gradient(0deg, var(--offsetwhite1), var(--offsetwhite1)), radial-gradient(50% 50%at 50% 100%, var(--offsetwhite2) 0, var(--offsetwhite0) 100%);
}

[data-theme='light'] {
  --black0: #f9f9f9;
  --black1: #efefef;
  --black2: #a8a8a8;
  --black3: #efefef;

  --white0: #000000;
  --white1: #000000;
  --white2: #181a1b;
  --white3: #000000;

  --grey1: #474747;
  --grey2: #646464;

  --selection: #7fffe1;

  --link: #1684ad;
  --primary1: #0761d1;
  --primary2: #0070f3;
  --primary3: #3291ff;
  --primarydark1: #0761d1;
  --primaryinvert1: #ad1638;

  --border-1: 1px solid var(--grey2);
  --border-2: 1px solid var(--white2);

  /* --offsetblack1: rgba(255, 255, 255, .5); */
  --offsetblack0: hsla(0,0%,100%,.9);
  --offsetblack1: hsla(0,0%,100%,.7);
  --offsetblack2: hsla(0,0%,100%,.5);
  --offsetblack3: hsla(0,0%,100%,.2);
  --offsetwhite0: transparent;
  --offsetwhite1: rgba(0,0,0,.2);
  --offsetwhite2: rgba(0,0,0,.1);

  --radial-1: radial-gradient(circle farthest-corner at 50.4% 50.5%, #fa0828 0%, #f8425e 90%);

  --linear-1: linear-gradient(to top, var(--black1) 0, transparent 100%),
    linear-gradient(180deg, var(--black1) 0, var(--black3) 40%);
  --linear-2: linear-gradient(to bottom, var(--black0) 0, transparent 40%),
    linear-gradient(to top, var(--black1) 0, var(--black3) 40%);
  --linear-3: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), radial-gradient(50% 50%at 50% 100%, rgba(0, 0, 0, .3) 0, transparent 100%);
  --linear-4: linear-gradient(to right bottom, var(--primaryinvert1), #111);
  --linear-5: linear-gradient(240deg, var(--primary1) 0, var(--primary2) 50%, var(--primary3));
  --linear-6: linear-gradient(0deg, var(--offsetwhite0), var(--offsetwhite1)), radial-gradient(50% 50%at 50% 100%, var(--offsetblack3) 20%, var(--offsetwhite0) 100%);
}

body {
  color: var(--white1);
  background: var(--black1);
  font-family: var(--neue);
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  padding-top: var(--header-height);
  line-height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  text-rendering: geometricprecision;
  width: 100%;
}

/* adaptive font sizes`
=====================================*/
@media screen and (max-width: 1280px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 820px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 490px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 13px;
  }
}

/* color: rgba(255, 255, 255, .8); */
/* letter-spacing: -.06em; */
/* transform: scaleY(.75); */
/* color: transparent; */
/* background-image: linear-gradient(210deg,
      var(--primary1),
      var(--primary2)); */
/* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%; */